<h1 class="display-4">Crud con Sails JS</h1>
<p class="mb-4">Panel de administrador</p>
<a href="/alumnos/list" class="btn btn-danger">Ver Alumnos</a>
<a href="/alumnos/add" class="btn btn-warning">Añadir Alumno</a>